essay/nohup.out
essay/oprnet001essay..bbl
essay/oprnet001essay..blg
essay/oprnet001essay.aux
essay/oprnet001essay.bbl
essay/oprnet001essay.bcf
essay/oprnet001essay.blg
essay/oprnet001essay.fdb_latexmk
essay/oprnet001essay.fls
essay/oprnet001essay.log
essay/oprnet001essay.out
essay/oprnet001essay.run.xml
essay/oprnet001essay.synctex.gz
essay/oprnet001essay.txt
